<!DOCTYPE HTML>

<html>
	<head>
        {% load static %}
		<script src="{% static 'comparator/jquery-3.4.1.min.js' %}"></script>
		<script src="{% static 'comparator/ConsultaWeb.js' %}"></script>
	</head>
	<body>
		<div>
			City: <input type="text" id="city">
		</div>
		<div>
			Category: <input type="text" id="category">
		</div>
		<div>
			Maximum price: <input type="text" id="price">
		</div>
        {% for ip in ips %}
            <div>
			    <button onclick="javascript:buscar('{{ ip }}')">BUSCAR {{ ip }}</button>
		    </div>
        {% endfor %}



	</body>
</html>